<?xml version="1.0" encoding="UTF-8"?>
<!--   
   Copyright (c) 2018, Oracle and/or its affiliates. All rights reserved.
   
   DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
   
   The contents of this file are subject to the terms of either the Universal Permissive License 
   v 1.0 as shown at http://oss.oracle.com/licenses/upl
   
   or the following license:
   
   Redistribution and use in source and binary forms, with or without modification, are permitted
   provided that the following conditions are met:
   
   1. Redistributions of source code must retain the above copyright notice, this list of conditions
   and the following disclaimer.
   
   2. Redistributions in binary form must reproduce the above copyright notice, this list of
   conditions and the following disclaimer in the documentation and/or other materials provided with
   the distribution.
   
   3. Neither the name of the copyright holder nor the names of its contributors may be used to
   endorse or promote products derived from this software without specific prior written permission.
   
   THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
   IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
   FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
   DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
   DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
   WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
   WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.openjdk.jmc.console.ui.preferences.GeneralPage"
            class="org.openjdk.jmc.console.twitter.TwitterPreferencePage"
            id="org.openjdk.jmc.twitter.page1"
            name="Twitter">
      </page>
   </extension>
   <extension
         point="org.openjdk.jmc.rjmx.triggerActions">
      <triggerAction
            class="org.openjdk.jmc.console.twitter.UpdateStatus"
            description=" Updates the status for a user. Note, you must go to Preferences and authorize the user/application before the action can be used."
            icon="icons/twitter.png"
            id="org.openjdk.jmc.twitter.Tweet"
            name="Twitter - Update Status">
         <string
               description="The name of the user to update the status for"
               id="username"
               name="Username"
               preference="true">
         </string>
         <string
               description="The message to tweet"
               id="message"
               name="Tweet"
               preference="false"
               value="{state}: Hello Twitter (value was {value})">
         </string>
      </triggerAction>
      <triggerAction
            class="org.openjdk.jmc.console.twitter.SendMessage"
            description="Sends a direct message from one user to another. Note, you must go to Preferences and authorize the user/application before the action can be used."
            icon="icons/twitter.png"
            id="org.openjdk.jmc.twitter.triggerAction2"
            name="Twitter - Direct Message">
         <string
               description="The user who should send the message. "
               id="from"
               name="From">
         </string>
         <string
               description="The user that should receive the message"
               id="to"
               name="To">
         </string>
         <string
               description="The message to send"
               id="message"
               name="Message"
               value="{state}: Hello Twitter (value was {value})">
         </string>
      </triggerAction>
   </extension>

</plugin>