<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css">%1$s</style>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script>%2$s</script>
	<![endif]-->
	<style type="text/css" media="print">
		body {
			background: #fff;
		}

		#search {
			display: none;
		}
	</style>
</head>

<body>
	<div id="graph"></div>
	<script type="text/javascript">%3$s</script>
	<script type="text/javascript">
		
		var graphviz;
		var currentDot;

		var margin = 20; // to avoid scrollbars
		
		graphviz = d3.select("#graph").graphviz().renderDot(currentDot);
		
		
		function processGraph(dotString, viewInverted) {
			currentDot = dotString;			
			graphviz.renderDot(dotString);
		};


		function windowSize() {
			return Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		};
		
		function resetZoom() {
		    console.log('Resetting zoom');
		    graphviz
		        .resetZoom(d3.transition().duration(1000));
		}

		function resizeSVG() {
		    console.log('Resize');
		    var width = window.innerWidth;
		    var height = window.innerHeight;
		    d3.select("#graph").selectWithoutDataPropagation("svg")
		        .transition()
		        .duration(700)
		        .attr("width", width - margin)
		        .attr("height", height - margin);
		};

		d3.select(window).on("resize", resizeSVG);
		d3.select(window).on("click", resetZoom);

	</script>
</body>
</html>