<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css">%1$s</style>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script>%2$s</script>
	<![endif]-->
</head>

<body>
	<div id="search" align="right">
		<input type="text" id="packageNameInput" size="22" onfocusout="executeSearch()" value="">
		<img src="data:image/png;base64, %3$s" width="12" height="12">
	</div>
	<div id="chart"></div>
	<script type="text/javascript">%4$s</script>
	<script type="text/javascript">%5$s</script>
	<script type="text/javascript">
		
		
		var textToSearch = "";
		var flameGraph;
		var currentJson;
		
		const packageInputField = document.getElementById("packageNameInput");
		packageInputField.addEventListener("keyup", function(event) {
				if(event.keyCode === 13){
					executeSearch();	
				}
			}
		);
		
		const tip = d3.tip()
        	.direction("s")
        	.offset([8, 0])
        	.attr('class', 'd3-flame-graph-tip')
        	.html(adjustTip);

		function processGraph(jsonObj) {
			adjustSearch();
			flameGraph = d3.flamegraph()
				.width(windowAdjustedSize())
				.cellHeight(18)
				.transitionDuration(320)
				.minFrameSize(5)
				.transitionEase(d3.easeCubic)
				.sort(true)
				.title("")
				.differential(false)
				.tooltip(tip)
				.color(colorCell);
			currentJson = jsonObj;
			d3.select("#chart")
				.datum(currentJson)
				.call(flameGraph);
		}

		function executeSearch(){
			const inputText = packageInputField.value;
			if(textToSearch !== inputText){
				textToSearch = inputText.toLowerCase();
				flameGraph.search(textToSearch);
			}		
		}

		function windowSize() {
			return Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		}

		function resizeFlameGraph() {
			if (flameGraph) {
				adjustSearch();
				flameGraph.width(windowAdjustedSize());
				d3.select("#chart")
					.datum(currentJson)
					.call(flameGraph);
			}
		}
		
		function adjustSearch(){
			document.getElementById("search").style.width = windowAdjustedSize();
		}
		
		function windowAdjustedSize(){
			return windowSize() * 0.95;
		}

	</script>
</body>
</html>