<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css">%1$s</style>
	<style type="text/css" media="print">
		body {
			background: #fff;
		}

		#search {
			display: none;
		}
	</style>
</head>

<body>
	<div id="search" align="right">
		<input type="text" id="searchInput" size="30" onfocusout="executeSearch()" value="">
		<img src="data:image/png;base64, %2$s" width="12" height="12">
	</div>
	<div id="chart"></div>
	<script type="text/javascript">
	%3$s
	</script>
	<script type="text/javascript">
	%4$s
	</script>
	<script type="text/javascript">
		
		const minSearchTextSize = 3;
		var tooltipTableThCount;
		var tooltipTableThEventType;
		var tootlipPackage;
		var tootlipDescription;
		var tootlipSamples;
		var textToSearch = "";
		var flameGraph;
		var currentJson;
		
		const packageInputField = document.getElementById("searchInput");
		packageInputField.addEventListener("keyup", function(event) {
				if (event.keyCode === 13) {
					executeSearch();	
				} else if (event.keyCode === 8 && packageInputField.value.length === 0) {
					executeSearch();		
				} else if (packageInputField.value.length > minSearchTextSize) {
					executeSearch();
				}
			}
		);
		
		function configureTooltipText(ct, et, pt, st, dt) {
			tooltipTableThCount = ct;
			tooltipTableThEventType = et;
			tootlipPackage = pt;
			tootlipSamples = st;
			tootlipDescription = dt;
		};
		
		const tip = flamegraph.tooltip.defaultFlamegraphTooltip()
			.html(adjustTip);

		function processGraph(jsonObj, viewInverted) {
			flameGraph = flamegraph()
				.width(windowSize())
				.cellHeight(18)
				.transitionDuration(320)
				.minFrameSize(5)
				.transitionEase(d3.easeCubic)
				.sort(true)
				.title("")
				.inverted(viewInverted)
				.tooltip(tip)
				.color(colorCell);
			currentJson = jsonObj;
			d3.select("#chart")
				.datum(currentJson)
				.call(flameGraph);
		};
		
		function icicleView(viewInverted) {
			flameGraph.inverted(viewInverted)
						.resetZoom();
		}

		function executeSearch() {
			const inputText = removeSpecialCharacters(packageInputField.value);
			if (textToSearch !== inputText) {
				textToSearch = removeSpecialCharacters(inputText);
				flameGraph.search("");
			}		
		};

		function windowSize() {
			return Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		};

		function resizeFlameGraph() {
			if (flameGraph) {
				flameGraph.width(windowSize());
				d3.select("#chart")
					.datum(currentJson)
					.call(flameGraph);
			}
		};

		function serializeFlameGraph(svgNode) {
			var clone = svgNode.cloneNode(true);
			var style = document.createElement('style');
			style.innerHTML =
					".d3-flame-graph rect {" +
					"	stroke: #EEEEEE;" +
					"	fill-opacity: .8;" +
					"}" +
					".d3-flame-graph rect:hover {" +
					"	stroke: #474747;" +
					"	stroke-width: 0.5;" +
					"	cursor: pointer;" +
					"}" +
					".d3-flame-graph-label {" +
					"	pointer-events: none;" +
					"	white-space: nowrap;" +
					"	text-overflow: ellipsis;" +
					"	overflow: hidden;" +
					"	font-size: 12px;" +
					"	font-family: Verdana;" +
					"	margin-left: 4px;" +
					"	margin-right: 4px;" +
					"	line-height: 1.5;" +
					"	padding: 0 0 0;" +
					"	font-weight: 400;" +
					"	color: black;" +
					"	text-align: left;" +
					"}";
			clone.appendChild(style);

			return new XMLSerializer().serializeToString(clone);
		};

		function rasterizeSvg(xml, width, height, type, callback) {
			var image = document.createElement('img');
			image.onload = function () {
				try {
					var canvas = document.createElement('canvas');
					canvas.setAttribute("width", width);
					canvas.setAttribute("height", height);

					if (type !== "image/png") {
						// fill opaque background
						canvas.getContext('2d').fillStyle = 'white';
						canvas.getContext('2d').fillRect(0, 0, width, height);
					}

					canvas.getContext('2d').drawImage(image, 0, 0);

					var b64 = canvas.toDataURL(type, 1);
					callback(b64.substring(b64.indexOf('base64,') + 7));
				} catch (e) {
					callback(undefined, e.message)
				}

			};
			image.src = 'data:image/svg+xml;base64,' + btoa(xml);
		};

		function exportFlameGraph(type, callbackName) {
			var callback = window[callbackName].bind(this);
			try {
				var svg = document.querySelectorAll('#chart svg')[0];
				var xml = serializeFlameGraph(svg);
				rasterizeSvg(xml, svg.getAttribute("width"), svg.getAttribute("height"), type, callback);
			} catch (e) {
				callback(undefined, e.message);
			}
		};

	</script>
</body>
</html>
