<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script>
      // %1$s
    </script>
  </head>
  <body>
    <div id="hierarchical" width="100%%" style="text-align: center"></div>
    hierarchical - to remove
    <script type="text/javascript">
      // %2$s
    </script>
  </body>
</html>